#main,
#topbanner {
  position: static;
}

#app-gallery-calendar {
  display: flex;
}

#gallery {
  padding-left: 20px;
  position: relative;
  z-index: 1;
}

#you-may-also-like {
  padding-top: 15px;
  padding-right: 80px;
  width: 1200px;
}
#reviews {
  padding-top: 15px;
  position: relative;
}

#reviews-section {
  display: flex;
}

#add-static {
  width: 420px;
  padding-top: 10px;
}
